h1 {
    text-align: center;
} 

 h3 {
    text-align: center;
} 

img, .gallery-images {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: black;
}

.description {
    padding-top: 100px;
}

#marlboro {
    height: 350px;
    width: 300px;
    display: flex;
    margin-left: 83px;
    margin-right: auto;
} 

#eazye {
    height: 350px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
}

#tupac {
    height: 350px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#VL {
    height: 350px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#red-crenshaw {
    height: 350px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#crenshaw {
    height: 350px;
    width: 430px;
    margin-left: -65px;
    margin-right: auto;
}

#jep {
    height:250px;
    width:300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

#church {
    height: 350px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#DJ {
    height: 200px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

#via {
    height: 225px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#front-bc {
    height: 325px;
    width: 475px;
    margin-left: auto;
    margin-right: auto;
}

#back-bc {
    height: 225px;
    width: 425px;
    margin-left: auto;
    margin-right: auto;
}

#veins {
    height: 225px;
    width:375px;
    margin-left: auto;
    margin-right: auto;
}

#veinsheart {
    height: 225px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#veinsshirt {
    height: 225px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}