.slide-div {
}

.academic {
    font-family: 'Courgette', cursive;
    padding-top: 5%;
    font-size: 50px;
}

.slide-modal {
    position:absolute;
    z-index: 2;
}

#eazye {
    height: 300px;
    width: 300px;
}

#VL {
    height: 200px;
    width:200px;
}
