.slide-div {
}

.academic {
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 5%;
}

.slide-modal {
    position:absolute;
    z-index: 2;
}

#eazye {
    height: 300px;
    width: 300px;
}

#VL {
    height: 200px;
    width:200px;
}
