.home {
    background-color: #D4D4D4;
}

.ss-nav ul a {
  color: white;
}

.ss-nav {
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 60px;
  background-color: gray;
}

.ss-nav ul {
  padding-top: .7%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ss-nav li a {
  font-size: 35px;
  display: inline-block;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: .2%;
  text-decoration: none;
  float: left;
  position: relative;
  left: 18%;
}

.navbar-home {
  font-family: 'Lobster', cursive;
}

.navbar-about {
  font-family: 'Lobster', cursive;
}

.navbar-projects {
  font-family: 'Lobster', cursive;
}

.navbar-contact {
  font-family: 'Lobster', cursive;
}

.navbar-logo {
  margin-top: .6%;
}
