
.contact-pic img {
    width: 350px;
    height: 400px;

}

.contact-pic {
    padding-left: 33%;
    padding-top: 3%;
}

.aboutme {
    padding-top: 9%;
    font-family: 'Nunito Sans', sans-serif;
}

.aboutme-text {
    padding-left: 30%;
    font-size: 35px;
    padding-top: 5%;
}

.aboutme-name {
  font-size: 68px;
}

.contact-area {
  text-align: center;
  padding-bottom: 5%;
}
