.link {
    color: white;
    text-decoration: none;
}

a:visited {
color: white;
}


li {
    list-style-type:none;
}

.logo-img {
    width: 35px;
    height: 30px;
}

.navbar-inverse {
    background-color:grey;
    border-color:grey;
}
