.box {
    border: 1px solid black;
    width: 600px;
    height:200px;
    margin-left: 28%;
    background-color: black;
    padding-bottom: 25px;
}

.academic-projects {
    margin-top: 30%;
}

.freelance-projects {
    margin-top: 5%;
}

p {
    color:white;
    font-size: 20px;
}
