.logo-picture {
    padding-top: 5%;
    width: 400px;
    height: 420px;
    align-items: center;
}

.about-me {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 5%;
}

.picture-container {
    padding-bottom: 10%;
    padding-left: 8%;
}

.name {
    font-size: 77px;
    padding-top: 10%;
}

.job {
    font-size: 40px;
}

.topintro-container {
  text-align: center;
  padding-bottom: 5%;
  padding-top: 9%;
}
