.logo-picture {
    padding-top: 5%;
    width: 400px;
    height: 420px;
    align-items: center;
}

.about-me {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

.picture-container {
    padding-bottom: 10%;
}

.name {
    font-size: 77px;
}

.job {
    font-size: 40px;
}
