.aboutme-pic img {
    width: 250px;
    height: 300px;
}

.aboutme-pic {
    padding-left: 33%;
    padding-top: 3%;
}

.aboutme-info {
    padding-left: 33%;
}

.aboutme-name {
    padding-left: 33%;
    padding-top: 3%;
}
